<header>
  <div class="banner">Banner</div>
  <nav class="top_nav">
    <ul class="navigation">
      <li>Play</li>
      <li>Tracks</li>
      <li>Search</li>
    </ul>
  </nav>
</header>
<article class="play_tab">
<h1>Plays Tab</h1>

<div class="chat-box"></div>

<div class="chat_controls">
  <input class="chat_input" placeholder="Enter chat"></input>
</div>
</article>
<article class="track_tab">Tracks Tab</article>
<article class="search_tab">Search Tab</article>
<article class="setting_tab">Settings Tab</article>
<article class="user_tab">User Tab</article>

<footer>
  <ul class="footer_nav">
    <li>Settings</li>
    <li>User</li>
  </ul>
</footer>

