@import "susy";
@import "breakpoint";
@import "font-awesome";

$susy: (
columns: 12
);

$pair: 0px 300px;
$basic: 700px;

header {display: flex;
  flex-direction: column;
@include span(12 of 12);}
.banner{
  @include span(12 of 12);
  background-color: yellow;
  order: 2;
  @include breakpoint($basic){
    order: 1;
  }
}

.top-nav{
  background-color: orange;
  @include span(12 of 12);
  order: 1;
  ul li{
    display: inline-block;
  }
  @include breakpoint($basic){
    @include span(12 of 12);
  }
}

.play-tab{
  @include span(12 of 12);
  background-color: yellow;
  @include breakpoint($basic){
    @include span(7 of 12);
  }
}

.track-tab{

  display: none;
  @include span(12 of 12);
  background-color: red;
  @include breakpoint($basic){
    display: inline-block;
    @include span(4 of 12);
  }

}
.search-tab{
  display: none;
  @include span(12 of 12);
  background-color: grey;
  @include breakpoint($basic){
    display: inline-block;
  }
}

.setting-tab{
  display: none;
  @include span(12 of 12);
  background-color: orange;
  @include breakpoint($basic){
    display: inline-block;
  }
}

.user-tab{
  display: none;
  @include span(12 of 12);
  background-color: magenta;
  @include breakpoint($basic){
    display: none;
  }
}
body {
  @include container;
  margin: 0px;
}

footer{
  @include span(12 of 12);
  position: fixed;
  bottom: 0px;
  background-color: pink;
  ul li{
    display: inline-block;
  }
  @include breakpoint($basic){
    position: static;
  }
}


.chat-controls {
  margin: 10px;
}

.nav-label {
  margin: 10px;
}

ul li.mobile{
  @include breakpoint($basic){
    display: none;
  }
}


